/* Mobile configuration */
@media only screen and (max-width: 768px) {
  #menu-desktop {
    display: none;
  }
  #menu-mobile {
    display: inline-block;
  }
  #menu-left {
    margin-left: 0;
  }

  #content {
    margin: 0 5% 0 5%;
  }

  #main-video {
    display: none;
  }

  #mail-form-div {
    font-size: 1.5rem;
  }

  #content {
    padding: 7rem 0 3.5rem 0;
  }

  footer {
    position: relative;
    background-color: black;
    width: 100vw;
    height: 4rem;
    text-align: center;
    p {
      padding-top: 1rem;
      color: antiquewhite;
      font-size: 1rem;
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }

}