@import "./home.scss";
@import "./contact.scss";

/* Basic Setup */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #555;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  position: relative;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* Header */

#menu {
  list-style: none;
  text-align: right;
  height: 4rem;
  li {
    display: inline-block;
    padding-right: 2vw;
    color: whitesmoke;
    padding-top: 1rem;
    a {
      color: inherit;
      text-decoration: inherit;
      font-weight: inherit;
    }
  }
}

.menu .item {
  font-size: 2rem;
}

#menu-mobile {
  display: none;
}

#menu-desktop {
  margin-right: 15%;
}

#menu-left {
  margin-left: 15%;
}

/* Header end */

#content {
  padding-top: 9rem;
  margin: 0 17% 0 17%;
}

/* Footer start */

footer {
  background-color: black;
  position: fixed;
  bottom: 0;
  left: 0;
  margin-top: 1rem;
  width: 100vw;
  height: 4rem;
  text-align: center;
  p {
    padding-top: 1em;
    color: antiquewhite;
    font-size: 2em;
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

@import "./mobileConfig.scss";
