/* Basic Setup */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.clearfix {zoom: 1;}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* Header */

#menu {
  list-style: none;
  text-align: right;
  height: 4rem;
}

#menu li {
  display: inline-block;
  padding-right: 2vw;
	color: whitesmoke;
	padding-top: 1rem;
}

#menu li a {
  color: inherit;
  text-decoration: inherit;
	font-weight: inherit;
	font-size: 200%;
}

.menu .item {
  font-size: 2rem; 
}

#menu-mobile {
  display: none;
}

#menu-desktop {
  margin-right: 15%;
}

#menu-left {
  margin-left: 15%;
}

/* Menu end */

#home {

}

#content {
  padding-top: 9rem;
  margin: 0 17% 0 17%;
}

/* Mobile configuration */
@media only screen and (max-width: 768px) {
  #menu-desktop {
    display: none;
  }
  #menu-mobile {
    display: inline-block;
  }
  #menu-left {
    margin-left: 0;
  }

  #content {
    margin: 0 5% 0 5%;
  }
}